
body {
    background: linear-gradient(to bottom, rgb(243, 188, 49), rgb(255, 255, 255));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(63, 32, 15);
}

.navbar {
    background-color: rgb(243, 188, 49);
}


.navbar-brand {
    font-family: 'Cookie';
    font-size: clamp(2.25rem, 6vw, 2.75rem);
}

#logo {
    width: clamp(2.5rem, 7vw, 3.5rem);
}

section {
    padding: 2rem;
}



a.btn, .btn {
    background-color: rgb(255, 226, 110);
    border-color: rgb(255, 226, 110);
    margin: 0.5rem;
    font-weight: 600;
    color: rgb(85, 37, 19);
}

.btn {
    background-color: rgb(235, 191, 15);
    border-color: rgb(235, 191, 15);
}

.navbar .btn:active,
.navbar .btn.active,
#find_button:active {
    background-color: rgb(100, 148, 23);
    border-color: rgb(100, 148, 23);
    color: white;
}

.btn:hover {
    background-color: rgb(182, 141, 38);
    border-color: rgb(182, 141, 38);
    color: rgb(255, 255, 255);
}


h2, h1 {
    font-family: 'Pacifico';
}

h1 {
    font-size: clamp(2rem, 6vw, 3rem);
    text-align: center;
}

.img-container {
    position: relative;
    width: 80vw;
    max-width: 650px;
    margin: auto;
}

.img-container img {
    width: 100%;
    display: block;
    height: auto;
    border-radius: 2rem;
}

.img-container #find_button {
    position: absolute;
    bottom: 10px;
}

#ruudukko {
 max-width: 650px;
 margin: auto;
}

#resepti, #ohjeistus {
padding-left: 4rem;
}

