body {
  background: linear-gradient(to bottom, rgb(243, 188, 49), rgb(255, 255, 255));
  /*Sivuston taustaväriksi gradientti.*/
  background-repeat: no-repeat;
  /*Gradientti esiintyy vain kerran eikä toistu.*/
  background-attachment: fixed;
  /*Gradientti pysyy paikallaan eikä liiku sivun sisällön mukana.*/
  color: rgb(63, 32, 15);
}

main {
  padding: 1rem;
}

footer {
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

.navbar {
  background-color: rgb(243, 188, 49);
}

.navbar-brand {
  font-family: "Cookie";
  font-size: clamp(2.25rem, 6vw, 2.75rem);
  /*Lisätään väli logokuvan ja tekstin välille*/
  gap: 0.5rem;
}

#logo {
  width: clamp(2.5rem, 7vw, 3.25rem);
}

/*Asetetaan eri väri yhdelle sanalle otsikossa.*/
.highlight {
  color: rgb(55, 122, 58);
}

/*Painikkeiden asetukset.*/

.btn {
  background-color: rgb(255, 226, 110);
  border-color: rgb(255, 226, 110);
  font-weight: 600;
  color: rgb(85, 37, 19);
}

/*Marginaalit muille, kuin navigaatiopainikkeille.*/
.btn:not(.nav-button) {
  margin: 0.5rem;
}

/*Erilliset asetukset vain navigaation painikkeille.*/
.nav-button {
  width: 100%; /*Hampurilaisvalikossa navigaatiopainikkeet vie 100% mahdollisesta tilasta*/
  /*Asetetaan väliä painikkeiden välille.*/
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.meal-button,
#find-button {
  background-color: rgb(235, 191, 15);
  border-color: rgb(235, 191, 15);
}

.navbar .btn:active,
.navbar .btn.active,
#find-button:active {
  background-color: rgb(100, 148, 23);
  border-color: rgb(100, 148, 23);
  color: white;
}

.btn:hover,
#find-button:hover {
  background-color: rgb(182, 141, 38);
  border-color: rgb(182, 141, 38);
  color: rgb(255, 255, 255);
}

/*Otsikoiden asetuksia.*/

h1,
#resepti-nimi {
  font-family: "Pacifico";
}

h1 {
  font-size: clamp(2.25rem, 6vw, 3rem);
  margin-bottom: 2rem;
}

/*Asetetaan alatunnisteen tekstille eri fontti.*/
.footer-body {
  font-size: 0.75rem;
}

.img-container {
  /*Mahdollistaa absoluuttisten elementtien sijoittelun tämän divin sisällä.*/
  position: relative;
  /*Asetetaan kuvan diville korkeus/leveys ja niiden maksimit samaksi, jotta kuva pysyisi neliömäisenä.*/
  width: 80vw;
  max-width: 650px;
  height: 80vw;
  max-height: 650px;
  /*Keskitetään divi.*/
  margin: auto;
}

/*Etusivun vaihtuvan kuvan asetukset.*/
.img-container img {
  width: 100%;
  /*Kuva täyttää koko div-elementin leveydeltään.*/
  display: block;
  height: 100%;
  object-fit: cover;
  /*Varmistetaan, että kuva täyttää div-elementin jossa se sijaitsee ilman, että kuvasuhde vääristyy.*/
  border-radius: 2rem;
}

/*Etusivun reseptipainikkeen asetukset.*/
#find-button {
  position: absolute;
  /*Painike sijoittuu suhteessa lähimpään suhteelliseen vanhempaan.*/
  bottom: 10px;
  /*Painikkeen sijainti on 10px alareunasta.*/
}

#img-pot {
  border-radius: 1rem;
}

.lista-reseptit {
  cursor: pointer;
  /*Selvennetään, että listan reseptit on klikattavia.*/
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.lista-reseptit:hover {
  color: rgb(182, 141, 38);
}

#bannerimg {
  width: 100%;
}

.nav-pills .nav-link {
  background-color: rgb(243, 188, 49);
  color: rgb(85, 37, 19);
  margin-bottom: 1rem;
}

.nav-pills .nav-link:hover {
  background-color: rgb(182, 141, 38);
  color: white;
}

@media (min-width: 768px) {
  h1 {
    text-align: center;
    margin-bottom: 3rem;
  }

  h3 {
    text-align: center;
  }

  #resepti,
  #ohjeistus {
    padding-left: 4rem;
  }

  .ruudukko {
    max-width: 70%;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .nav-button {
    width: auto;
  }
}