body {
    margin: 0;
    background-color: black;
}

main {
    
}

h1 {
    color: #8E0E00;
    text-decoration: overline;
    /*text-shadow: -2px -2px rgb(77, 18, 18);*/
    text-shadow: -1px -1px #baadad;
    font-family: knight warrior;
    font-size: 4rem;
}

#logotext {
    font-family: knight warrior;
    font-size: 1.5rem;
}

p {
    font-size: 1.5rem;
    color: #ECE9E1;
}

#italic {
    font-style: italic;
}

.container {
    background-image: linear-gradient(#8E0E00,#1F1C18);
    /*background-image: linear-gradient(rgba(217, 136, 82, 0.753), rgba(183, 67, 41, 0.693));
    background-color: rgba(183, 67, 41, 0.693);
    box-shadow: inset 0 0 5px 10px rgba(99, 34, 19, 0.825);*/
    padding: 4rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
    max-width: 90%;
}

.btn {
    background-image: linear-gradient(#8E0E00,#1F1C18);
    background-color: rgba(228, 198, 192, 0.693);
   /* background-color: rgba(217, 127, 82, 0.753);
    border-color: rgba(95, 59, 36, 0.753);*/
    border-radius: 2rem;
    border-color: #42110c;
    display: block;
    width: fit-content;
    margin: 0 auto;
    transition: 400ms;
    font-weight: 600;
}

.btn:hover {
    background-image: linear-gradient(#a91303,#1F1C18);
    border-color: #42110c;
    border-width: 5px;
}