body {
    margin: 0;
    background-color: black;
}

h1 {
    color: #b71200;
    text-decoration: overline;
    /*text-shadow: -2px -2px rgb(77, 18, 18);*/
    text-shadow: -1px -1px #baadad;
    font-family: knight warrior;
    font-size: 4rem;
}

h2 {
    font-weight: 600;
    color: #ECE9E1;
}

.card-title {
    font-family: knight warrior;
    font-size: 2rem;
}

#logotext {
    font-family: knight warrior;
    font-size: 1.75rem;
}

p {
    font-size: 1.5rem;
    color: #ECE9E1;
}

#italic {
    font-style: italic;
}

.container {
    background-image: linear-gradient(#8E0E00, #1F1C18);
    /*background-image: linear-gradient(rgba(217, 136, 82, 0.753), rgba(183, 67, 41, 0.693));
    background-color: rgba(183, 67, 41, 0.693);
    box-shadow: inset 0 0 5px 10px rgba(99, 34, 19, 0.825);*/
    padding: 4rem;
    border-radius: 2rem;
    max-width: 90%;
}

.btn {
    background-image: linear-gradient(#8E0E00, #1F1C18);
    /* background-color: rgba(217, 127, 82, 0.753);
    border-color: rgba(95, 59, 36, 0.753);*/
    border-style: none;
    border-radius: 2rem;
    display: block;
    width: fit-content;
    margin: 0 auto;
    transition: box-shadow 400ms;
    font-weight: 600;
}

.btn:hover {

    background-image: linear-gradient(#e11a03, #2a1b1a);
    /*border-color: #42110c;
    border-width: 5px;*/
    box-shadow: 0 0 12px 6px #f6321c;
    /*Lisäsin ulkoisen hehkun latauspainikkeeseen, jotta olisi painikkeen yli hiirellä liikkuessa selvää, että kyseessä on interaktiivinen painike.*/
}

.accordion-button {
    background-color: #1F1C18;
    color: #ECE9E1;
}

.accordion-button:not(.collapsed) {
    background-color: #1F1C18;
    color: #ECE9E1;
}

.accordion-item {
    background-color: #ECE9E1;
    color: #42110c;
}

#carouselExampleControls {
    max-width: 90%;
    margin: 0 auto;
}

.carousel-item {
    height: 90vh;
    max-height: 500px;
}

.carousel-item img {
    width: 100%;
    height: 100%; /*Lisäsin kuvien korkeudelle 100% sekä object-fit, jotta pienelläkin näytöllä karusellin kuvat olisivat saman korkuisia*/
    object-fit: cover;
}


.card {
    background-color: #1F1C18;
    color: #ECE9E1;
}

.card-text {
    color: #ECE9E1;
}

@media (max-width: 600px) {
    #logotext {
        font-size: 1.4rem; /*Lisäsin pienemmille näytöille pienenevän logotekstin, jotta se ei veisi niin suurta tilaa navigaatiopalkista*/
    }
}
