body {
    margin: 0;
    background-color: black;
}

main {
    
}

h1 {
    color: brown;
    font-family: knight warrior;
    text-align: center;
}

#logotext {
    font-family: knight warrior;
    font-size: 1.5rem;
}

p {
    font-size: 1.5rem;
    color: rgb(17, 13, 10);
}

.container {
    background-image: linear-gradient(rgba(217, 136, 82, 0.753), rgba(183, 67, 41, 0.693));
    border-radius: 2rem;
    box-shadow: inset 0 0 5px 10px rgba(99, 34, 19, 0.825);
    padding: 4rem;
    margin-bottom: 2rem;
    max-width: 90%;
}