
/*Kaikella bodyn sisällä on reunoihin väliä*/
body {
    padding: 2rem;
}

/*Otsikkotekstin siirto keskelle ja väliä navigaatioon*/
h1 {
    text-align: center;
    margin-top: 1rem;
}

/*json kuvien leveyden säätely*/
.img_luokka {
    width: 100%;
}

#toteutusimg {
    width: 100%;
}

#saainfo {
    background-color: rgb(209, 209, 209);
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 10px;
}